@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300;

400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

.go-to {
  display: block;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}

.go-to .link-togo {
  text-transform: capitalize;
}

.card__wrapper {
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid #999;
  color: #606c38;
  background-color: #fefae0;
  transition: 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card__wrapper:hover {
  transform: scale(1.01);
  border: 1px solid #222;
}

.card__wrapper .title_wrapper {
  padding: 1rem 0;
}

.card__wrapper .title_wrapper > * {
  display: block;
}

.card__wrapper .title_wrapper .title {
  font-size: 2.5rem;
  padding-bottom: 0;
}

.card__wrapper .title_wrapper .original-title {
  font-size: 1.5rem;
  opacity: 0.8;
}

.card__wrapper .info_wrapper .info {
  padding: 0.75rem 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.card__wrapper .info_wrapper .info .detail {
  text-transform: capitalize;
  font-weight: normal;
  margin-left: auto;
}

body {
  color: #283618;
  background-color: #dda15e;
}

main {
  padding: 5rem 0;
}

.section .section-title {
  padding: 2rem 0;
  font-size: 4rem;
  text-align: center;
}

.section .cards {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

