$mv-primary: #fefae0;
$mv-primary-darker: #dda15e;
$mv-secondary: #606c38;
$mv-secondary-darker: #283618;


$mv-border: #999;
$mv-border-hover: #222;

$mv-sizeSmallest: 1rem;
$mv-sizeSmall: 1.5rem;
$mv-sizeStandard: 2rem;
$mv-sizeBig: 2.5rem;
$mv-sizeBigger: 3rem;
