.card__wrapper {
    text-decoration: none;
    cursor: pointer;
    font-size: $mv-sizeStandard;
    font-weight: bold;
    text-align: center;

    border-radius: 0.5rem;
    padding: $mv-sizeSmallest;
    border: 1px solid $mv-border;
    
    color: $mv-secondary;
    background-color: $mv-primary;
    
    transition: 600ms cubic-bezier(0.215, 0.610, 0.355, 1);

    &:hover {
        transform: scale(1.01);
        border: 1px solid $mv-border-hover;
    }

    .title_wrapper {
        padding: $mv-sizeSmallest 0;

        >* {
            display: block;
        }

        .title {
            font-size: $mv-sizeBig;
            padding-bottom: 0;
        }

        .original-title {
            font-size: $mv-sizeSmall;
            opacity: 0.8;
        }
    }

    .info_wrapper {
        .info {
            padding: 0.75rem 0;
            font-size: $mv-sizeSmall;
            display: flex;
            align-items: center;

            .detail {
                text-transform: capitalize;
                font-weight: normal;
                margin-left: auto;
            }
        }
    }
}